* {
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-variant: normal;
}

img {
	max-height: 100%;
	max-width: 100%;
}

h1 {
	font-size: 3em;
	font-weight: lighter;
	margin: 0;
	text-transform: uppercase;
	color: #666666;
}

h2 {
	font-size: 2em;
	font-weight: 300;
	margin: 0;
	color: #999999;
}

h3 {
	font-size: 1.5em;
	font-weight: 100;
	margin: 0;
	text-transform: uppercase;
	color: #666666;
}

h4 {
	font-size: 1em;
	font-weight: 100;
	margin: 0;
	text-transform: uppercase;
	color: #666666;
}

p {
	font-size: 1em;
	font-weight: 100;
	margin: 0;
	color: #666666;
}

/*
 *
 * Body
 *
 */

body {
	color: #666;
	font-weight: 400;
}

.text-muted {
	color: #999;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 4em;
}

.title-logo {
	margin-top: 20px;
	max-width: 100%;
  	height: auto;
}



/*
 *
 * Custom Mobile Head Style
 *
 */



@media (max-width: 768px) {
	.mobile2 {
		width: 16.6666%;
		min-width: 95px;
		float: left;
	}
	.mobile10 {
		width: 83.3333%;
		margin-left: 16.6666%;
	}
}